<h1>Application {{title}} Demo</h1>



<!-- <p>Formation à distance</p>
<p>{{ title }}</p>
Property binding 
<input type="hidden" value="{{ title }}"/>
<input type="hidden" [value]="title"/>


<p> 2 + 2 = {{ 2 + 2 }}</p>
<p> 2 > 1 : {{ 2 > 1 ? 'vrai' : 'faux' }}</p>
<p><a href="https://fr.wikipedia.org/wiki/{{title}}" target="_blank">{{title}}</a></p>

<div>
  <button (click)="onClick()">Click</button>
  <button (click)="onInit()">Init</button>
</div>
<app-child></app-child>
<app-child></app-child>
<exo-quote></exo-quote>
 <app-student-list></app-student-list> 
 <app-choice></app-choice> 
 <app-students></app-students>

<exos-city-choice-list></exos-city-choice-list>
<app-asc-com (message)="onMessage()"></app-asc-com>
<exo-button></exo-button>
<app-student-form (addedStudent)="onAddedStudent()"></app-student-form>
<app-student-list></app-student-list> 
-->

<!-- <router-outlet /> -->
<app-student-wrapper></app-student-wrapper>
